@import ../../_vars.sass

.profile-title-container
  width: 100%
  text-align: center
  margin-top: 15px
  font-family: $font-special

.profile-name
  width: 100%
  margin: 0
  font-size: 2em
  font-weight: 400
  @media only screen and (min-width : 480px)
    font-size: 3em

.profile-title
  width: 100%
  margin: 0 0 15px
  font-size: 1em
  font-weight: 700
  @media only screen and (min-width : 480px)
    font-size: 1.2em
