@import ../../_vars.sass

.contact
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: center
  width: 100%
  background-color: $first-bg-color
  padding: 50px 0
  h3
    color: $primary-text-color
  form
    width: 70%
    margin: 0 auto
    display: flex
    flex-wrap: wrap
    justify-content: flex-end
    .btn
      background-color: $menu-bg-color
      color: $primary-text-color
      border: 1px solid $primary-text-color
      @media only screen and (min-width : 480px)
        width: 30%
      @media only screen and (min-width : 768px)
        width: 20%
