$app-max-width: 1200px

$font-primary: Raleway, Helvetica, sans-serif
$font-special: 'Arima Madurai', cursive

$primary-text-color: #333
$secondary-text-color: #ccc
$tertiary-text-color: darken($secondary-text-color, 80%)

$h1-text-color: $primary-text-color
$h2-text-color: lighten($h1-text-color, 10%)
$h3-text-color: darken($h2-text-color, 15%)

$primary-bg-color: #ddd

$menu-bg-color: #222822
$menu-hover-bg-color: lighten($menu-bg-color, 20%)

$first-bg-color: #CFF09E
$second-bg-color: #A8DBA8
$third-bg-color: #79BD9A
$fourth-bg-color: #3B8686
$fifth-bg-color: darken($fourth-bg-color, 10%)
$sixth-bg-color: #0B486B
