@import ./_vars.sass

body
  margin: 0
  padding: 0
  font-family: $font-primary
  background-color: $primary-bg-color

h1
  color: $h1-text-color

h2
  color: $h2-text-color

a
  color: $primary-text-color
  text-decoration: none
  &:hover
    color: $secondary-text-color
